<!DOCTYPE html>
	<head>
		<title>Nervion Controller</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.min.js"></script>
		<script src="{{ url_for('static', filename='js/update.js') }}"></script>
	</head>
	<body>
		<h1>Nervion Controller</h1>
		<h3>Core Network</h3>
		<p>MME/AMF IP: {{ mme_ip }}</p>
		<p>Multiplexer IP: {{ multi_ip }}</p>
		<h4>Slave Docker Image: {{ docker_image }} </h4>
		<div id="data">
			<h4> Number of UEs running: {{running_ues}} </h4>
			<h3>UEs</h3>
			{{ ue_table|safe }}
			<h3>eNBs/gNBs</h3>
			{{ enb_table|safe }}
		</div><!-- /#data -->
		<br>
		<button onclick="window.location.href='/restart/'">Restart experiment</button>
		<br>
		<div style="width: 100%; margin: 0 auto; font-size: large; text-align: center; position:fixed; bottom: 3%;pointer-events: none">
			<p style="font-family: Perpetua;">THE UNIVERSITY <i>of</i> EDINBURGH</p>
			Developed by <i>Jon Larrea</i>
		</div>
	</body>
</html>
